.DS_Store
*.log
*.exe
*.pem
*.phar
*.so
*.h
/.settings
/.history
/.idea
/.credentials
/.login
/.release
/.cache
/.svelte-kit
/.tmp
/dist
/vendor
/tmp
/nbproject
/node_modules
/package
/composer.lock
/package-lock.json
/.php-cs-fixer.cache
/.phpunit.result.cache
/out