.DS_Store
*.log
*.exe
*.pem
*.phar
/.settings
/.history
/.idea
/.sessions
/.credentials
/.login
/.release
/.cache
/.svelte-kit
/dist
/vendor
/tmp
/nbproject
/SESSION
/node_modules
/package
/composer.lock
/package-lock.json