{extends 'page.latte'}

{block body}
    <form enctype="multipart/form-data" action="/" method="POST">
        <input type="file" name="file1" id="file1id"/>
        <button>Submit</button>
    </form>
    <span>this is a body</span>
{/block}